/*************** COMMON/CONTAINER *************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.relative{
    position: relative;
}

.overflow{
    /* overflow: auto; */
    height: calc(100vh - 5rem);
}




/************* HEADER *************/

.nav-bar{
    background-color: black;
    height: 100%;
    width: 12rem;
    overflow: auto;
}

.nav-bar>.container{
    flex-flow: column nowrap;
    color: gray;
    font-size: 0.8rem;
    height: 100%;
    justify-content: space-between;
}

.nav-bar>.container .big-logo{
    width: auto;
    height: 2rem;
    margin-bottom: 1rem;

}

.nav-bar>.container .little-logo{
    display: none;
}

.nav-bar .top-bar{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.nav-bar .bottom-bar{
    margin-left: 1rem; 
}

.nav-bar .bottom-bar>div:first-child{
    border-bottom: 1px solid grey;
    width: 90%;
    margin-bottom: 0.3rem;
}


.nav-bar>.container i{
    margin: 0.5rem 0.7rem 0.5rem 0;
    font-size: 1rem;
}

.nav-bar>.container .home:hover{
    color: white;
}

.nav-bar>.container .cerca:hover{
    color: white;
}

.nav-bar>.container .libreria:hover{
    color: white;
}


.nav-bar>.container h3{
    margin: 1.5rem 0 1rem 0;
}

.nav-bar>.container .playlist>span{
    display: block;
    margin: 0.5rem 0;
}

.nav-bar>.container .playlist>span:hover{
    color: white;
}

.playlist{
    overflow: auto;
}

.nav-bar>.container span>i{
    transform: scale(2);
    margin-left: 0.5rem;
}

.bottom-bar .bigger-i{
    transform: scale(1.5);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.bottom-bar .little-i{
    transform: scale(0.8);
}

.download:hover{
    color: white;
}

.profile:hover{
    color: white;
}

/************* MAIN *************/

main{
    flex-direction: column;
    justify-content: right;
    width: calc(100% - 12rem);
    height: 100%;
}
.upgrade{
    background-color: rgb(27, 27, 27);
    height: 3rem;
    width: 100%
}

.upgrade>.container{
    width: 100%;
    height: 100%;
    text-align: end;
}

.upgrade button{
    color: white;
    background-color:rgb(27, 27, 27) ;
    border-color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    font-size: 0.7rem;
}

.album{
    background-color: rgb(18, 18, 44);
    height: 100%;
    width: 100%;
    overflow: auto;
}
.album>.container{
    padding: 0 0.5rem;
}

.album .central-bar{
    color: gray;
    width: 1100px;
    margin: 0 auto;

}

.generi{
    padding: 1rem 0;
    width: calc(100% / 6);
    height: 1rem;
    text-align: center;
    border-bottom: transparent 1px solid;
    white-space: nowrap;
}
.generi:hover{
    border-bottom: yellow 1px solid;
}

.album h1{
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.album p{
    color: gray;
    margin: 0.5rem 0.5rem;
}

.card-container{
    width: 100%;
}

.card-container>.card{
    width: calc(100% / 6 - 1rem);
    text-align: center;
    margin: 2rem 0.5rem;
}

.card-container>.card>.immagine>img{
    width: 100%;
}

.immagine>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 4rem;
    display: none;
}


.immagine:hover i{
    display: block;
}

.card-container>.card>h3{
    color: white;
    margin: 1rem 0;
}

.card-container>.card>span{
    color: gray;
    margin-bottom: 1rem;
}

.round img{
    border-radius: 100%;
}


/************* FOOTER *************/

.music-bar{
    background-color: rgb(78, 78, 78);
    height: 5rem;
}

.music-bar>.container{
    height: 100%;
    width: 100%;
    justify-content: space-between;
    color: white;
}

.left-footer{
    width: 25%;  
    padding: 1rem 0.5rem;
    align-items: center;
}

.left-footer>img{
    width: 3rem;
    height: 3rem;
}

.in-play{
    margin: 0 1rem;
}

.in-play>div:last-child{
    font-size: 0.6rem;
    color: gray;
}

.left-footer i{
    margin: 0 0.3rem;
    font-size: 0.8rem;
}

.left-footer i:hover{
    color: green;
}

.center-footer{
    width: 50%;    
    text-align: center;

}

.track-icons>i{
    margin: 0.5rem 1rem;
    font-size: 1.4rem;
}

.track-icons>i:hover{
    color: green;
}

/* .center-footer hr{
    width: 65%;
    height: 0.3rem;
    margin: 0.2rem auto;
    display: inline-block;
    background-color: gray;
    border-radius: 30px;
} */

.center-footer input[type="range"] {
    width: 65%;
    height: 0.3rem;
    margin: 0.2rem auto;
    display: inline-block;
    background-color: gray;
}

.center-footer span{
    margin: 0 1rem;
    color: white;
    font-size: 0.8rem;
}

.right-footer{
    width: 25%;   
    text-align: end;
    padding: 1.5rem 0;
    vertical-align: middle;
}

.right-footer>i{
    margin: 0 0.3rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.right-footer>i:hover{
    color: green;
}

.right-footer>input[type="range"] {
    width: 25%;
    height: 0.3rem;
    display: inline-block;
    background-color: gray;
    border-radius: 30px;
    margin: 0.2rem 0.5rem;
}




/************* RESPONSIVE *************/


@media screen and (max-width: 1300px) {

    
    .album .central-bar{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .generi{
        padding: 1rem 0;
        width: calc(100% / 5);
    }

    .card-container{
        flex-wrap: wrap;
    }

    .card-container>.card{
        width: calc(100% / 4 - 1rem);
    }
}



@media screen and (max-width: 800px) {

    .generi{
        width: calc(100% / 3);
        font-size: 0.9rem;
    }

    .card-container>.card{
        width: calc(100% / 2 - 1rem);
    }


    .left-footer>img{
        width: 2rem;
        height: 2rem;
    }

    .in-play{
        margin: 0 0.5rem;
    }

    .center-footer input[type="range"] {
        width: 45%;
    }

    .center-footer span{
        margin: 0 0.5rem;
        font-size: 0.7rem;
    }

    .track-icons>i{
        margin: 0.4rem 0.6rem;
        font-size: 1rem;
    }

    .right-footer>input[type="range"] {
        display: none;
    }

}



@media screen and (max-width: 450px) {

    .nav-bar span{
        display: none;
    }
    
    .playlist{
        display: none;
    }

    .nav-bar .bottom-bar>div:first-child{
        border-bottom:none
    }

    .nav-bar{
        width: 4rem;
    }
    
    main{
        width: calc(100% - 4rem);
    }

    .big-logo{
        display: none;
    }

    .nav-bar>.container .little-logo{
        display: unset;
        width: auto;
        height: 2rem;
        margin-bottom: 1rem;
    
    }

    .bottom-bar{
        margin-bottom: 0.5rem;
    }




    .generi{
        width: calc(100% / 4);
        font-size: 0.7rem;
    }




    .left-footer>img{
        display: none;
    }

    .center-footer span{
        margin: 0 0.4rem;
        font-size: 0.6rem;
    }



}




@media screen and (max-height: 400px) {


    .nav-bar>.container .playlist>span{
        display: none;
    }
}